<table>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Pasword_digest</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <th scope="row"><%= u.id%></th>
        <td><%= u.email %></td>
        <td><%= u.password_digest %></td>
      </tr>
    <% end %>
  </tbody>
</table>